.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #1c2227;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #4b87c6;
}

h3{
    color: #000000;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

button {
    color: white;
    padding: 10px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 1rem;
}



.navbar {
    background-color: #1c2227;
    margin-bottom: 40px;
}
.nav-link {
    color: #4b87c6; 
}
  
.nav-link:hover {
    color:rgb(240, 240, 241)
}


li.list-group-item {
    background: white;
    margin: 7px 0;
    padding: 5px;
    border-radius: 5px;
    background-color: #181c1f;
 
    display: flex;
    justify-content: space-between;
    align-items: center;
} 



hr {
    border: 0;
    height: 1px;
    background-color: #ddd; 
    margin: 20px 0;
}
